In [42]:
import pandas as pd
import numpy as np

In [43]:
db=pd.read_csv('Diabetes.csv')

In [44]:
db.shape

(15, 2)

In [45]:
db.head()

   Blood Sugar  Diabetes
0          190         0
1          154         0
2          123         0
3          170         0
4          340         1

In [46]:
y=db.pop('Diabetes')
x=db

In [47]:
print(y)

0     0
1     0
2     0
3     0
4     1
5     1
6     0
7     1
8     1
9     0
10    1
11    1
12    0
13    0
14    1
Name: Diabetes, dtype: int64

In [48]:
print(x)

    Blood Sugar
0           190
1           154
2           123
3           170
4           340
5           250
6           187
7           267
8           350
9           190
10          200
11          210
12          195
13          180
14          205

In [49]:
from sklearn.linear_model import LogisticRegression

In [50]:
from sklearn.model_selection import train_test_split

In [84]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,test_size=0.3,random_state=100)

In [85]:
print(x_train)
print(y_train)

    Blood Sugar
10          200
5           250
2           123
4           340
0           190
11          210
7           267
3           170
14          205
8           350
10    1
5     1
2     0
4     1
0     0
11    1
7     1
3     0
14    1
8     1
Name: Diabetes, dtype: int64

In [86]:
print(x_test)
print(y_test)

    Blood Sugar
9           190
1           154
12          195
13          180
6           187
9     0
1     0
12    0
13    0
6     0
Name: Diabetes, dtype: int64

In [87]:
lr=LogisticRegression()

In [88]:
lr.fit(x_train,y_train)

LogisticRegression()

In [89]:
y_pred=lr.predict(x_test)

In [90]:
print(y_pred)

[0 0 1 0 0]

In [91]:
from sklearn.metrics import r2_score

In [92]:
r2_score(y_pred,y_test)

-0.24999999999999956

In [93]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [94]:
cm=confusion_matrix(y_test,y_pred)

In [95]:
cm

array([[4, 1],
       [0, 0]], dtype=int64)

In [96]:
tn,fp,fn,tp=confusion_matrix(y_test,y_pred).ravel()

In [97]:
print(tn,fp,fn,tp)

4 1 0 0

In [98]:
accuracy_score(y_test,y_pred)

0.8

In [99]:
precision=tp/(fp+tp)

In [100]:
sesitivity=tp/(tp+fp)

In [101]:
specificity=tn/(tn+fp)

In [102]:
print("precision= ",precision,"sesitivity= ",sesitivity,"specificity= ",specificity)

precision=  0.0 sesitivity=  0.0 specificity=  0.8