In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = {"level":[1,2,3,4,5,6,7,8,9,10],"salary":[45000,50000,60000,80000,110000,150000,200000,300000,5000000,10000000]}

In [3]:
data_set = pd.DataFrame(dataset)

In [4]:
data_set

   level    salary
0      1     45000
1      2     50000
2      3     60000
3      4     80000
4      5    110000
5      6    150000
6      7    200000
7      8    300000
8      9   5000000
9     10  10000000

In [5]:
x =data_set.iloc[:,:-1]

In [6]:
x

   level
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10

In [7]:
y =data_set.iloc[:,-1]

In [8]:
y

0       45000
1       50000
2       60000
3       80000
4      110000
5      150000
6      200000
7      300000
8     5000000
9    10000000
Name: salary, dtype: int64

In [9]:
from sklearn.preprocessing import PolynomialFeatures

In [14]:
poly_reg = PolynomialFeatures(degree=4)

In [15]:
x

   level
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10

In [16]:
x_poly = poly_reg.fit_transform(x)

In [17]:
x_poly

array([[1.000e+00, 1.000e+00, 1.000e+00, 1.000e+00, 1.000e+00],
       [1.000e+00, 2.000e+00, 4.000e+00, 8.000e+00, 1.600e+01],
       [1.000e+00, 3.000e+00, 9.000e+00, 2.700e+01, 8.100e+01],
       [1.000e+00, 4.000e+00, 1.600e+01, 6.400e+01, 2.560e+02],
       [1.000e+00, 5.000e+00, 2.500e+01, 1.250e+02, 6.250e+02],
       [1.000e+00, 6.000e+00, 3.600e+01, 2.160e+02, 1.296e+03],
       [1.000e+00, 7.000e+00, 4.900e+01, 3.430e+02, 2.401e+03],
       [1.000e+00, 8.000e+00, 6.400e+01, 5.120e+02, 4.096e+03],
       [1.000e+00, 9.000e+00, 8.100e+01, 7.290e+02, 6.561e+03],
       [1.000e+00, 1.000e+01, 1.000e+02, 1.000e+03, 1.000e+04]])

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
lr  =  LinearRegression()

In [20]:
lr.fit(x_poly ,y)

LinearRegression()

In [22]:
y_pred = lr.predict(x_poly)

In [21]:
from sklearn.metrics import mean_absolute_error,r2_score

In [23]:
score = r2_score(y,y_pred)

In [24]:
score

0.9839805399949673